{% extends 'parent.html' %}
{% block title %}Восстановление{% endblock %}
{% block content %}
<div class="container register">

    <p class="text-danger">{{message}}</p>

<form name="log" id="loginform" action="/Logic/restore_password.php" method="POST">
    <p>
        <label for="password">Новый пароль<br/>
            <input type="password" name="password" size="20"/></label>
    </p>
    <p>
        <label for="repeat_password">Повтор пароля<br/>
            <input type="password" name="repeat_password" size="20"/></label>
    </p>
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit">Восстановить</button>
</form>
</div>
{% endblock %}
